@font-face {
  font-family: 'Supermarket';
  src: url('fonts/supermarket.ttf') format("truetype");
}
@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-Light.ttf') format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TH Sarabun';
  src: url('fonts/THSarabun.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TH Sarabun';
  src: url('fonts/THSarabun_Bold.ttf') format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'TH Sarabun';
  src: url('fonts/THSarabun_BoldItalic.ttf') format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'TH Sarabun';
  src: url('fonts/THSarabun_Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
}
